.jumbotron
  %h2 Chat

.row
  .col-lg-12
    #output
    %input#input.form-control

%script(src='static/js/jquery.js' type='text/javascript')
%script(src='static/js/phoenix.js' type='text/javascript')
%script(src='static/js/chat.js' type='text/javascript')
